<div class="container mt-5">
      <div class="ntForm">
        <form>
          <div class="form-row">
            <div class="col">
              <label for="exampleInputPassword1">Pet Name</label>
              <input class="form-control form-control-lg" type="text" placeholder="Enter Your Pet's Name">
            </div>
            <div class="col">
              <label for="exampleFormControlSelect1">Sex</label>
              <select class="form-control" id="exampleFormControlSelect1" style="height: 48px">
                <option>Male</option>
                <option>Female</option>
                <option>Neutered Male</option>
                <option>Spayed Female</option>
              </select>
            </div>
            <div class="col">
              <label for="exampleInputPassword1">Weight</label>
              <input class="form-control form-control-lg" type="text" placeholder="Enter Your Pet's Weight">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <label for="exampleInputPassword1">Species</label>
              <input class="form-control form-control-lg" type="text" placeholder="Enter Canine or Feline">
            </div>
            <div class="col">
              <label for="exampleInputPassword1">Breed</label>
              <input class="form-control form-control-lg" type="text" placeholder="Enter Your Pet's Breed">
            </div>
            <div class="col">
              <label for="exampleInputPassword1">Color</label>
              <input class="form-control form-control-lg" type="text" placeholder="Enter Your Pet's Color(s)">
            </div>
          </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label class="control-label" for="date">Date of Birth</label>
                  <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group"> <!-- Date input -->
                  <label class="control-label" for="date">Or Age</label>
                  <input class="form-control" id="date" name="date" placeholder="Enter Your Pet's Age" type="text"/>
                </div>
              </div>
            </div>
          <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
      </div>
</div>