<div class="container">
<h1 class="h1 text-center">Welcome {{user.firstName}}</h1>

<br>
<br>
<h1 class="text-center">Reminders</h1>

<hr>
{{#each re}}
    <div class="text-center"><h2 class="">{{reminder}}</h2></div>
{{/each}}



</div>