<div class="container">
<h1 class="d-flex justivy-content-center">Create Reminder</h1>
<br>
<hr>
<ul>
    <li>Name: {{user.firstName}}</li>
</ul>

<form action="" method="post">
    <div class="form-group">
        <label for="">Remind me</label>
        <input type="text" name="reminder" class="form-control" id="" placeholder="Enter a reminder">
        <br>
       
    </div>
    <input type="submit" value="save" class="btn btn-primary">
</form>
</div>